.loader-backdrop {
    position: fixed;
    /* deve coprire tutta la finestra */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* deve essere sopra tutti gli altri elementi */
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #4f46e5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}